.account_group_label, .add_group_label {
    font-family: Sans Bold;
    font-size: 13pt;
    font-weight: bold;
}

.group_label_entry {
    border-width: 0px;
}

.error {
    background-color: #ffccd2;
}