.account_group_label, .add_group_label {
    font-family: Sans Bold;
    font-size: 13pt;
    font-weight: bold;
}

.group_label_entry {
    border-width: 0px;
}

.error, .error text {
    background-color: #ffccd2;
}

.account_box, .form_container {
    background-color: rgba(147, 153, 161, 0.62);
    border-radius: 3px;
}

/* flattening group label buttons */
.group_label_button {
    background-color: transparent;
    border-width: 0px;
    box-shadow: none;
    padding: 0px;
}

.group_label_button:hover {
    color: white;
}