Package: authenticator-rs
Section: development
Priority: optional
Architecture: all
Depends: libgtk-3-0, libsqlite3-0, libsecret-1-0, gnome-keyring
Maintainer: rgallet_at_grumlimited.co.uk
Description: MFA Authenticator
 Authenticator-rs is a TOTP-MFA application written in Rust and GTK3.
