.account_group_label, .add_group_label {
    font-size: 160%;
    font-weight: bold;
}

.error, .error text {
    border-color: @error_color;
}

.edit_account_input_secret_frame.error {
    border-color: @error_color;
}

.version_number {
    font-size: 80%;
}

.account_row, .form_container {
    background-color: @content_view_bg;
}

.account_frame {
    background-color: @content_view_bg;
    border-style: solid;
    border-color: @borders;
    border-width: 1px;
    border-bottom-style: none;
    border-top-style: none;
}

.account_frame_first {
    border-top-style: solid;
}

.account_frame_last {
    border-bottom-style: solid;
}

.account_row_hover {
    background-color: @borders;
}

.totp_label {
    font-family: monospace;
}

.edit_account_input_name, .add_group_input_name {
    border-radius: 0px;
    font-size: 120%;
    font-weight: bold;
    /*
    * text input have some left padding for icon placement. For just text,
    * we don't want any.
    */
    padding-left: 0px;
}

.edit_account_input_name.error, .add_group_input_name.error {
    /**
    * However , upon error, an icon is shown. Then, we need some padding, so the
    * icon does not lean on the border.
     */
    padding-left: 3px;
}

.edit_account_input_secret_frame {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: @borders;
}

#export_account_error_title, #about_textbuffer_title {
    font-size: 140%;
    font-weight: bold;
}

.about_textbuffer_body {
    background-color: transparent;
    font-size: 90%;
}

#about_textbuffer_website, .about_textbuffer_gnu {
    font-size: 80%;
}

#add_group_icon_error, #edit_account_icon_error {
    color: @error_color;
}

.no_accounts {
    font-style: italic;
}

.error_display_title {
    font-size: 250%;
    font-weight: bold;
}
