.account_group_label, .add_group_label {
    font-size: 160%;
    font-weight: bold;
}

.error, .error text {
    border-color: @error_color;
}

/*
* Note: apparently pseudo class :indeterminate
* works (also) with widget state StateFlags::INCONSISTENT.
*
* StateFlags::INDETERMINATE is deprecated.
*/
.edit_account_input_secret_frame:indeterminate {
    border-color: @error_color;
}

.version_number {
    font-size: 80%;
}

.account_row, .form_container {
    background-color: @content_view_bg;
    border-radius: 3px;
}

.totp_label {
    font-family: monospace;
}

.edit_account_input_secret_frame {
    border-style:solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: @borders;
}

#export_account_error_title, #about_textbuffer_title {
    font-size: 140%;
    font-weight: bold;
}

.about_textbuffer_body {
    background-color: transparent;
    font-size: 90%;
}

#about_textbuffer_website, .about_textbuffer_gnu {
    font-size: 80%;
}

#add_group_icon_error {
    color: @error_color;
}

.no_accounts {
    font-style: italic;
}