.account_group_label, .add_group_label {
    font-family: Sans Bold;
    font-size: 13pt;
    font-weight: bold;
}

.group_label_entry {
    border-width: 0px;
}

.error, .error text {
    background-color: #ffccd2;
}

.account_box, .form_container {
    background-color: @content_view_bg;
    border-radius: 3px;
}

.totp_label {
    font-family: monospace;
}

.edit_account_input_secret {
    background-color: @borders;
}

#export_account_error_title, #about_textbuffer_title {
    font-family: Sans Bold;
    font-size: 11pt;
    font-weight: bold;
}

.about_textbuffer_body {
    background-color: transparent;
    font-size: 9pt;
}

#about_textbuffer_website {
    font-size: 7pt;
}
.about_textbuffer_gnu {
    font-size: 7pt;
}

#add_group_icon_error {
    color: crimson;
}
