.account_group_label, .add_group_label {
    font-family: Sans Bold;
    font-size: 13pt;
    font-weight: bold;
}

.group_label_entry {
    border-width: 0px;
}

.error, .error text {
    background-color: #ffccd2;
}

.account_box, .form_container {
}

.group_label_button:hover {
}

#export_account_error_title {
    font-family: Sans Bold;
    font-size: 11pt;
    font-weight: bold;
}

#about_textbuffer_title {
    font-family: Sans Bold;
    font-size: 11pt;
    font-weight: bold;
}

.about_textbuffer_body {
    background-color: transparent;
    font-size: 9pt;
}

#about_textbuffer_website {
    font-size: 7pt;
}
.about_textbuffer_gnu {
    font-size: 7pt;
}
