[Desktop Entry]
Name=Authenticator RS
GenericName=Authenticator RS
Comment=MFA authenticator
Categories=Office;GTK
Icon=uk.co.grumlimited.authenticator-rs
Exec=uk.co.grumlimited.authenticator-rs
Terminal=false
Type=Application
