[Desktop Entry]
Name=Authenticator RS
GenericName=Two-factor Authentication
Comment=A Two-Factor Authentication application
Categories=GNOME;GTK;Security;Utility;
Icon=uk.co.grumlimited.authenticator-rs
Keywords=Gnome;GTK;Verification;2FA;Authentication;OTP;TwoFactor;
Exec=authenticator-rs
Terminal=false
Type=Application
StartupNotify=true
